{% schema %}
{
  "name": {
    "ja": "告知バー",
    "en": "Announcement Bar"
  },
  "settings": [
    {
      "type": "html",
      "id": "announcement",
      "label": {
        "ja": "告知バー",
        "en": "Announcement bar"
      }
    },
    {
      "type": "color",
      "id": "announcementcolor",
      "label": {
        "ja": "告知バー色",
        "en": "Announcement bar color"
      }
    },
    {
      "type": "color",
      "id": "announcementbackground",
      "label": {
        "ja": "告知バー背景色",
        "en": "Announcement bar background color"
      }
    }
  ]
}
{% endschema %}

{% if section.settings.announcement != blank %}
  <div
    role="region"
    class="text-center p-2 font-bold"
    style="color: {{ section.settings.announcementcolor }}; background: {{ section.settings.announcementbackground }};"
  >
    {{ section.settings.announcement }}
  </div>
{%- endif -%}
